.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top    : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
        margin-bottom : 15px;
    }

    .pick-hour-container {
        display       : flex;
        gap           : 20px;
        flex-wrap     : wrap;
        padding-top   : 20px !important;
        padding-bottom: 20px !important;

        button {
            padding: 5px 19px;
            border : 1px solid gray;
        }
    }

    .btn-schedule {
        background-color: #f9f9f9;

        &.active {
            background-color: orange;
        }
    }
}