.manage-patient-container {
    .m-p-title {
        font-size     : 17px;
        margin        : 10px 0;
        text-align    : center;
        text-transform: uppercase;
        font-weight   : 600;
    }

    .manage-patient-body {
        padding: 0 20px;

        #customers {
            font-family    : Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width          : 100%;
        }

        #customers td,
        #customers th {
            border : 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top     : 12px;
            padding-bottom  : 12px;
            text-align      : left;
            background-color: #04AA6D;
            color           : white;
        }

        button {
            border : none;
            cursor : pointer;
            outline: none;
        }

        .btn-confirm {
            margin-right : 10px;
            height       : 30px;
            border-radius: 3px;
            background   : orange;
        }

        .btn-hoadon {
            height       : 30px;
            border-radius: 3px;
            background   : rgb(156, 221, 118);
        }

        .error {
            text-align : center;
            font-size  : 15px;
            font-weight: 600;

        }
    }
}