.search-schedule-box {
    width        : 350px;
    margin-bottom: 10px;
    height       : 40px;
    margin-top   : 20px;
    padding-left : 20px;
    border       : 1px solid skyblue;
    border-radius: 5px;
    margin-left  : 765px;
}
