#TableManagerClinic {
    font-family    : Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width          : 100%;
  }
  
  #TableManagerClinic td,
  #TableManagerClinic th {
    border : 1px solid #ddd;
    padding: 8px;
  }
  
  #TableManagerClinic tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #TableManagerClinic tr:hover {
    background-color: #ddd;
  }
  
  #TableManagerClinic th {
    padding-top     : 12px;
    padding-bottom  : 12px;
    text-align      : left;
    background-color: #04AA6D;
    color           : white;
  }