.detail-deatilhandbook-body {
    padding       : 0 60px;
    background    : #eee;
    display       : flex;
    flex-direction: column;
}

.detail-specialty-container {
    .back {
        margin-bottom: 10px;
        color        : #64b9e5;
        font-size    : 15px;
        font-weight  : 600;
        cursor       : pointer;
        width        : 80px;
    }

    .date {
        display    : flex;
        float      : right;
        font-weight: 600;

        .date1 {
            padding-right: 30px;
        }
    }

    .description-specialty {
        padding         : 10px;
        background-color: white !important;
        margin          : 15px 0;
        box-shadow      : 0 1px 6px #2f303347;
        border-radius   : 8px;

        h1,
        h2,
        h3 {
            font-size  : 16px;
            font-weight: 600;
        }

        .title-HB {
            font-weight  : 600;
            font-size    : 20px;
            margin-bottom: 15px;
        }
    }

    .search-sp-doctor {
        select {
            word-wrap    : normal;
            height       : 30px;
            padding      : 5px 8px;
            border       : none;
            outline      : none;
            border-radius: 3px;
            cursor       : pointer;

            &:hover {
                color: #64b9e5;
            }

        }
    }

    .detail-sepcialty-body {
        padding       : 0 100px;
        background    : #eee;
        display       : flex;
        flex-direction: column;
    }

    .each-doctor {
        display         : flex;
        width           : 100%;
        min-height      : 300px;
        margin          : 15px 0;
        background-color: #fff;
        //bóng
        box-shadow      : 0 1px 6px #20212447;
        //
        border-radius   : 8px;
        padding         : 10px;

        .content-left-dt {
            width        : 50%;
            margin-right : 20px;
            border-right : 1px solid #ddd;
            padding-right: 20px;
        }

        .content-right-dt {
            width: 50%;

            .doctor-schdule-dt {
                .doctor-schedule-container {
                    border-right: unset !important;
                }
            }

            .doctor-extra-infor {
                border-top : 1px solid #ddd;
                margin-top : 10px;
                padding-top: 10px;

                .doctor-extra-infor-container {
                    padding-left: 0 !important;
                }
            }
        }
    }

    .container-tag {
        padding         : 10px;
        background-color: white !important;
        margin          : 0 0 15px 0;

        .title-tag {
            font-weight: 600;
            font-size  : 15px;
        }

        .containers {
            padding-top: 10px;
            display    : flex;
            flex-wrap  : wrap;

            .tag_category {
                margin-top   : 10px;
                margin-right : 15px;
                box-shadow   : 0 1px 6px #2f303347;
                border-radius: 8px;
                cursor       : pointer;
                padding      : 10px 15px;
            }
        }
    }

    .container-related-blogs {
        padding         : 10px;
        background-color: white !important;
        margin          : 0 0 15px 0;

        .title-related-blogs {
            font-weight: 600;
            font-size  : 15px;
        }

        .main {
            margin-top: 20px;
            display   : flex;

            .containe {
                padding: 13px;

                .image-random {
                    background-color   : #eee;
                    height             : 165px;
                    width              : 280px;
                    background-size    : cover;
                    background-repeat  : no-repeat !important;
                    background-position: center center;
                    box-shadow         : 0 1px 6px #2f303347;
                    border-radius      : 10px;
                    cursor             : pointer;

                }

                .title-random {
                    padding: 10px 0;
                    cursor : pointer;

                    &:hover {
                        color: #64b9e5;
                    }
                }
            }
        }
    }
}